<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <input matInput type="email" formControlName="email" placeholder="Email">
      <mat-error *ngIf="f['email'].invalid && submitted">
        <mat-error *ngIf="f['email'].errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="f['email'].errors?.['email']">Email is not valid</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="f['password'].invalid && submitted">
        <mat-error *ngIf="f['password'].errors?.['required']">Password is required</mat-error>
        <mat-error *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters</mat-error>
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button color="primary" [disabled]="loading" type="submit">
        Register
      </button>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
  </form>
</div>