<h2 mat-dialog-title>Create Post</h2>
<div mat-dialog-content>
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="create-dialog">
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Title" required>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="content" placeholder="Content" required></textarea>
      </mat-form-field>
    </div>
      <input type="file" (change)="onFileChanged($event)" required>
      <div *ngIf="previewImage">
        <p class="preview__text">Preview:</p>
        <img class="preview__image" [src]="previewImage" alt="preview image" />
      </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="postForm.invalid" (click)="onSubmit()">Create Post</button>
</div>