<div class="post">
  <img class="post__image" [src]="postURI + post.imagePath" alt="{{ post.title }}" />
    <div class="post__info">
      <span class="title">{{ post.title }}</span>
      <div class="user-container">
        <a class="username" routerLink="../user/{{ post.username }}">@{{post.username}}</a>
        <span class="date">{{ post.formattedDate }}</span>
      </div>
      <span class="content">{{post.content}}</span>
    </div>
      <button mat-icon-button color="black" aria-label="Delete post" (click)="onDeletePost()">
        <mat-icon>delete</mat-icon>
      </button>
</div>