<div class="post__card">
  <img class="post__image" [src]="postURI + post.imagePath" alt="{{ post.title }}" />
    <div class="post__title">
      <span>{{ post.title }}</span>
      <span>{{post.content}}
      </span>
      <span>{{post._id}}</span>
      <span>{{post.username}}</span>
      <button mat-icon-button color="black" aria-label="Delete post" (click)="onDeletePost()">
        <mat-icon>delete</mat-icon>
      </button>
      <span class="post__date">{{ post.formattedDate }}</span>
    </div>
</div>